* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --background: #040D12;
    --secondary-background: #183D3D;
    --accents: #5C8374;
    --texts: #E6F2ED;
}

footer{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

body{
    font-family: "Pridi", serif;
    background-color: var(--background);
    display:block;
    color:var(--texts);
}

header, footer{
    background: var(--secondary-background);
    padding: .75rem;
}

fieldset{
    border-style: none;
}

form{
    display:block;
    width:96%;
    max-width: 400px;
    margin: 20px 10px;
}

#checkboxGroup label{
    display:flex;
    padding:1px;
}

.inputGroup{
    margin-bottom:20px;
}

input[type='checkbox']{
    margin-right: 5px;
}



#rating {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#rating label {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width:15%;
}

input[type='radio']{
    transform:scale(1.2);
}

select,input[type='text'],input[type='date']{
    max-width:400px;
    width:96%;
    height:34px;
}

textarea{
    width:96%;
    max-width:400px;
    height:150px;
}

button{
    background-color: var(--accents);
    height:60px;
    width:96%;
    color:var(--texts);
    font-family: "Pridi", serif;
    font-size:1.25rem;
}